USE [master]
GO
/****** Object:  Database [WebUsers]    Script Date: 4/14/2022 3:32:30 PM ******/
CREATE DATABASE [WebUsers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebUsers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebUsers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebUsers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebUsers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebUsers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebUsers]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 4/14/2022 3:32:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblUsers] ON 

INSERT [dbo].[tblUsers] ([UserId], [FirstName], [LastName]) VALUES (1, N'furkan', N'gözükara')
INSERT [dbo].[tblUsers] ([UserId], [FirstName], [LastName]) VALUES (2, N'123', N'asd')
INSERT [dbo].[tblUsers] ([UserId], [FirstName], [LastName]) VALUES (5, N'deneme', N'başarılı')
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
GO
USE [master]
GO
