@using lecture___4.PublicClases

@{
    //ViewData["Title"] = "Home Page";
   //Layout=null;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>@PublicMethods.returnDate()</div>

 @section Scripts{
   <script>
       function test() {
           
       }
   </script>
}

@section Footer{
    <p>special footer of index page</p>
}